.idea/*
.vscode/*
_build/*
build_dependencies/*
doc_build/*
doc_output/*
example_code/*
out/*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt
*.iml
*.swp
README.html